//podmiana podstawowych zmiennych
$body-color:white;
$body-bg:black;
$input-color: rgb(0, 0, 0);
$input-bg: purple;
//import do kompilacji - npx sass style.scss style.css
@import './node_modules/bootstrap/scss/bootstrap'

//możemy też tworzyć dziedziczenie bo kaskadowy css 

/* komentarze */